# --- macOS / Dropbox / LaTeX build artifacts ---
.DS_Store
Icon?
.dropbox
.dropbox.attr
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.fls
*.fdb_latexmk
*.synctex.gz

# --- NEVER publish: solutions ---
*_sol*
*sol_*

# --- Not published yet (remove a line to start tracking it) ---
aux/
data/
psets_2025/
archive_classes/
archive_pssets/
3---Estimation.tex
4---Inference.tex
5---CIA.tex
7---RDD.tex
8---Panel.tex
9---DiD.tex
Macros.tex
